<link rel="stylesheet" href="/stylesheets/footer.css">



<!-- navbar-default -->
   <nav class="navbar   navbar-fixed-bottom" role="navigation">
       <!-- horizontal rule for line going across contact information -->
       <hr id="break">
       <div class="container" id="content">
        <div class="navbar-brand glyphicon glyphicon-earphone" aria-hidden="true">
                 Phone: (864)918-3807
        </div>
            <div class="navbar-brand glyphicon glyphicon-envelope">
                Email: Jbrooks0078@yahoo.com
            </div>
                <div>
                    <a class="navbar-brand glyphicon glyphicon-download-alt" href="/GoodPhotos/JustinResume2.pdf" download> Resume </a>
                </div>
                <div>
                    <a class="navbar-brand glyphicon glyphicon-user" href="https://www.linkedin.com/in/justin-brooks-798739141/"> LinkedIn </a>
                </div>
                <div>
                    <a class="navbar-brand glyphicon glyphicon-user" href="https://github.com/justinsb1"> GitHub </a>
                </div>
  </div>
</nav>


    
    </body>
</html>



