</div> <!-- closing div tage for html document -->

<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="footer"> 
<div class="container">

   
       <!-- horizontal rule for line going across contact information -->
       <hr id="break">
       <div class="container" id="content">
        <div class="navbar-brand glyphicon glyphicon-earphone" aria-hidden="true">
                 Phone: (864)918-3807
        </div>
            <div class="navbar-brand glyphicon glyphicon-envelope">
                Email: Jbrooks0078@yahoo.com
            </div>
                <div>
                    <a class="navbar-brand glyphicon glyphicon-download-alt" href="/GoodPhotos/justin-official-resume3.PDF" download> Resume </a>
                </div>
                <div>
                    <a class="navbar-brand glyphicon glyphicon-user" href="https://www.linkedin.com/in/justin-brooks-798739141/"> LinkedIn </a>
                </div>
                <div>
                    <a class="navbar-brand glyphicon glyphicon-user" href="https://github.com/justinsb1"> GitHub </a>
                </div>
  </div>

</div>
</footer>
    </div>
    </body>
    
</html>



