<!DOCTYPE html>
<html>
    <head>
        <title>Justin Brooks Web Portfolio</title>
        <!-- one link for our bootstrap cdn --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- link to specific css for the home page -->
        <link rel="stylesheet" href="/stylesheets/home.css">
        <!-- check browser for version and add special classes incase browser is older (make cross browser compatible) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
  
  
    <div id="home-header">
 		<h1> Hey, I'm Justin Brooks </h1>
		<a href="/about" class="btn btn-lg btn-success">Get to know me</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
    </ul>


