<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/index.css">


    
    <h1> Projects </h1>
    
    <div class="project-container">
        
    <ul class="project">
    
      <div id="firstProject">
          
          <li> CAPSTONE PROJECT <img src="/GoodPhotos/AppIcon.jpg" alt="Responsive image" class="img-rounded"> </li> 
           
        <p>
            My senior design project involved me and four other classmates where we had to create a mobile application and deploy it to the app store.  The purpose of the app was to allow users to post tasks they need completed and broadcast these tasks to users who are willing to complete the tasks.  The role that I played in developing this app was majority of the front end development.  The framework of the app was done using Ionic Framework which is an open source library for mobile-optimized components in JavaScript, HTML, and CSS.  I coded the JavaScript and designed the details of each pages’ CSS.  I also created and designed the app logo and splash screen using Adobe Illustrator CC.  I created these and implemented them using Ionic Framework. Attached below is a link to view video tutorials on using the features of the app. 
        </p>
        
        </div>
        
        <div>
                Video Tutorial: <a href="https://sccapstone.github.io/tasks/"> https://sccapstone.github.io/tasks/ </a>
            <div>
                Github Repo: <a href="https://github.com/SCCapstone/tasks"> https://github.com/SCCapstone/tasks </a>
            </div>
        </div>
        
        
      <div id="secondProject">
          
          <li> YELPCAMP WEB APPLICATION (BOOTCAMP) <img src="/GoodPhotos/yelpcamp.jpg" alt="Responsive image" class="img-thumbnail"> </li> 
        
        <p id="paragraph">
            YelpCamp is a web application that I made during an online bootcamp course from Udemy.com. YelpCamp allow users to sign up and advertise beautiful campground sites from across the world! These posts will contain information about the campground site such as price, location, and a detailed description. Other users may view the post and comment their thoughts on the campground. This application was done with the following technologies: JavaScript(EJS), HTML, CSS, Node.js, Express.js, Passport.js, and Bootstrap. The backend was done using MongoDB. Below are links to my GitHub code for the project as well as the deployed application.  
        </p>
        
        </div>
        
        <div>
                Website: <a href="https://yelp-camp-deployed.herokuapp.com"> https://yelp-camp-deployed.herokuapp.com </a>
            <div>
                Github Repo: <a href="https://github.com/justinsb1/YelpCamp"> https://github.com/justinsb1/YelpCamp </a>
            </div>
        </div>
        
       
    </ul>
        
    </div>
    
    
    
    
    



<% include ./partials/footer %>