<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/index.css">


    
    <h1> Projects </h1>
    
    <div class="container">
        
    <ul class="project">
    
       <li> CAPSTONE PROJECT <img src="/GoodPhotos/AppIcon.jpg" alt="Responsive image" class="img-rounded"> </li> 
      
      <div id="firstProject">
           
        <p>
            My senior design project involved me and four other classmates where we had to create a mobile application and deploy it to the app store.  The purpose of the app was to allow users to post tasks they need completed and broadcast these tasks to users who are willing to complete the tasks.  The role that I played in developing this app was majority of the front end development.  The framework of the app was done using Ionic Framework which is an open source library for mobile-optimized components in JavaScript, HTML, and CSS.  I coded the JavaScript and designed the details of each pages’ CSS.  I also created and designed the app logo and splash screen using Adobe Illustrator CC.  I created these and implemented them using Ionic Framework. Attached below is a link to view video tutorials on using the features of the app. 
        </p>
        
        </div>
        
        <div>
                Video Tutorial: <a href="https://sccapstone.github.io/tasks/"> https://sccapstone.github.io/tasks/ </a>
            <div>
                Github Repo: <a href="https://github.com/SCCapstone/tasks"> https://github.com/SCCapstone/tasks </a>
            </div>
        </div>
    
        
    </ul>
        
    </div>
    



<% include ./partials/footer %>