<% include ../partials/header %>


<link rel="stylesheet" href="/stylesheets/index.css">


<div class="container"> 
    <div class="container2">
    
        <div class="profile-img">
            <img src="/GoodPhotos/IMG_7000.jpg" alt="Responsive image" class="img-circle">
        </div>
    
    </div>
    
<div class="container"> 
    <h1> Justin Brooks </h1>


    <div class="container">
        <div id="about-me"> 
            <p> 
                Welcome to my personal portfolio website!  I’m currently a freelance Web developer/designer based in Greenville, SC who specializes in Front-end development, Database Management, and User Interface Design.  I’m a tech savvy, initiative taking individual that is passionate and enthusiastic about beginning a career in software development.  I utilize my free time towards expanding my skill set to become a better developer through online boot camps,  personal projects, and building for client needs.  My other hobbies consists of reading books, traveling, and online gaming.  Please feel free to contact me with any questions or concerns you may have and I look forward to assisting you with your software needs.  I also designed this website and uploaded the code to my GitHub.
            </p>
        </div>
    </div>
</div>
</div>



<% include ../partials/footer %>